﻿<div class="col-md-12">
    <a class="pull-right btn btn-success btn-add-contact" style="margin-top:20px" href="#/0"><span class="glyphicon glyphicon-plus"></span> Adauga un contact</a>
</div>
<div class="col-md-12">
   <contacts-grid refresh="populateContactsGrid()" grid-data="contacts"></contacts-grid>
</div>
