﻿<h1 ng-show="!isEditing">Adauga contact</h1>
<h1 ng-show="isEditing">Editeaza contact</h1>

<form name="form" ng-submit="saveContactInfo(this)" novalidate>
    <input ng-model="Id" name="Id" type="hidden" />
    <div class="form-group">
        <label class="control-label">Poza</label>
        <input type="file" ng-model="Image" name="Image" base-sixty-four-input required maxsize="500" accept="image/*">
        <img class="contactImage" ng-show="Image" data-ng-src="{{getContactImage(Image)}}" />

    </div>
    <div class="form-group contactField">
        <label>Prenume</label>
        <input autofocus class="form-control" required="" ng-model="FirstName" name="FirstName" type="text" />
        <div ng-show="form.$submitted || form.FirstName.$touched">
            <div ng-show="form.FirstName.$error.required"><span class="text-danger">Te rugam sa introduci un prenume!</span></div>
        </div>
    </div>
    <div class="form-group contactField">
        <label>
            Nume
        </label>
        <input class="form-control" ng-model="LastName" name="LastName" type="text" />
        <div ng-show="form.$submitted || form.LastName.$touched">
            <div ng-show="form.LastName.$error.required"><span class="text-danger">Te rugam sa introduci un nume!</span></div>
        </div>
    </div>
    <div class="form-group contactField">
        <label>Adresa</label>
        <input autofocus class="form-control" ng-model="Address" name="Address" type="text" />
    </div>
    <div class="form-group contactField">
        <label>
            Telefon
        </label>
        <input class="form-control" ng-model="TelephoneNumber" name="TelephoneNumber" type="text" />
    </div>


    <button class="btn btn-info pull-right" ng-show="!isEditing" type="submit">Adauga</button>
    <button class="btn btn-success pull-right" ng-show="isEditing" type="submit">Salveaza</button>
</form>

