﻿body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.myGrid {
    width: 500px;
    height: 250px;
  }

.btn-add-contact {
    margin-bottom:10px !important;
}

.contactImage {
    width:27%;
    height:300px;
    float:right;
    border:solid 1px;
}

.contactField{
    width:70%;
}